@import "tailwindcss";
@import "./tw-animate";
@import "./utilities";
@import url("$lib/assets/style/host-grotesk.css");

@plugin "daisyui";
@plugin "tailwind-scrollbar";

:root {
	@apply cursor-default select-none antialiased font-body font-semibold overflow-hidden scrollbar-thin bg-base-100/8 w-screen h-screen;

	--transition: linear(
		0,
		0.006,
		0.025 2.8%,
		0.101 6.1%,
		0.539 18.9%,
		0.721 25.3%,
		0.849 31.5%,
		0.937 38.1%,
		0.968 41.8%,
		0.991 45.7%,
		1.006 50.1%,
		1.015 55%,
		1.017 63.9%,
		1.001
	);

	--radius-selector: 2rem;
	--radius-field: 2rem;
	--radius-box: 2rem;
	--size-selector: 0.25rem;
	--size-field: 0.28125rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(98% 0.003 247.858);
	--color-base-200: hsl(0, 0%, 95%);
	--color-base-300: oklch(92% 0.004 286.32);
	--color-base-content: oklch(0% 0 0);
	--color-primary: hsl(302, 98%, 42%);
	--color-primary-content: oklch(96% 0.015 12.422);
	--color-secondary: hsl(302, 100%, 76%);
	--color-secondary-content: oklch(29% 0.136 325.661);
	--color-accent: hsl(264, 100%, 50%);
	--color-accent-content: oklch(95% 0.026 236.824);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: hsl(348, 100%, 50%);
	--color-error-content: oklch(27% 0.105 12.094);
}

@plugin "daisyui/theme" {
	name: "dark";
	prefersdark: true;
	color-scheme: "dark";
	--color-base-100: oklch(14% 0 0);
	--color-base-200: hsl(120, 5%, 15%);
	--color-base-300: oklch(26% 0 0);
	--color-base-content: oklch(97% 0 0);
	--color-primary: hsl(302, 98%, 42%);
	--color-primary-content: oklch(98% 0.022 95.277);
	--color-secondary: hsl(302, 100%, 76%);
	--color-secondary-content: oklch(29% 0.136 325.661);
	--color-accent: hsl(264, 100%, 50%);
	--color-accent-content: oklch(98% 0.014 180.72);
	--color-neutral: oklch(20% 0 0);
	--color-neutral-content: oklch(98% 0 0);
	--color-info: oklch(62% 0.214 259.815);
	--color-info-content: oklch(97% 0.014 254.604);
	--color-success: oklch(72% 0.219 149.579);
	--color-success-content: oklch(98% 0.018 155.826);
	--color-warning: oklch(70% 0.213 47.604);
	--color-warning-content: oklch(98% 0.016 73.684);
	--color-error: hsl(348, 100%, 50%);
	--color-error-content: oklch(27% 0.105 12.094);
}

@theme {
	--font-body:
		"Host Grotesk", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	--font-display: "Radio Canada Big", var(--font-body);

	/* General */
	--color-vert-pink: hsl(302, 100%, 76%);
	--color-vert-pink-alt: hsl(302, 100%, 50%);
	--color-vert-pink-muted: hsl(302, 98%, 42%);
	--color-vert-red: hsl(348, 100%, 80%);
	--color-vert-red-alt: hsl(348, 100%, 50%);
	--color-vert-purple: hsl(264, 100%, 81%);
	--color-vert-purple-alt: hsl(264, 100%, 50%);
	--color-vert-blue: hsl(220, 100%, 78%);
	--color-vert-blue-alt: hsl(220, 100%, 50%);
	--color-vert-green: hsl(140, 70%, 74%);
	--color-vert-green-alt: hsl(140, 66%, 55%);

	/*  backgrounds */
	--bg: hsl(0, 0%, 95%);
	--bg-gradient: linear-gradient(
		to bottom,
		var(--colorcolor-vert-pink),
		hsla(303, 100%, 50%, 0) 100%
	);
	--bg-gradient-pink: linear-gradient(
		to bottom,
		var(--color-vert-pink),
		hsla(303, 100%, 50%, 0) 25%
	);
	--bg-gradient-pink-alt: linear-gradient(
		to top,
		var(--color-vert-pink),
		hsl(303, 100%, 91%) 100%
	);
	--bg-gradient-red: linear-gradient(
		to bottom,
		var(--color-vert-red),
		hsla(348, 100%, 50%, 0) 25%
	);
	--bg-gradient-red-alt: linear-gradient(
		to top,
		var(--color-vert-red),
		hsl(348, 100%, 91%) 100%
	);
	--bg-gradient-purple: linear-gradient(
		to bottom,
		var(--color-vert-purple),
		hsla(264, 100%, 50%, 0) 25%
	);
	--bg-gradient-purple-alt: linear-gradient(
		to top,
		var(--color-vert-purple),
		hsl(264, 100%, 91%) 100%
	);
	--bg-gradient-blue: linear-gradient(
		to bottom,
		var(--color-vert-blue),
		hsla(220, 100%, 50%, 0) 25%
	);
	--bg-gradient-blue-alt: linear-gradient(
		to top,
		var(--color-vert-blue),
		hsl(220, 100%, 91%) 100%
	);
	--bg-gradient-image: linear-gradient(
		to bottom,
		hsla(0, 0%, 95%, 0.5),
		hsla(0, 0%, 95%, 1) 100%
	);
	--bg-panel: hsl(0, 0%, 100%);
	--bg-panel-highlight: hsl(0, 0%, 92%);
	--bg-separator: hsla(0, 0%, 0%, 0.2);
	--bg-button: var(--bg-panel-highlight);
	--bg-badge: var(--accent-pink);
	--bg-input: #e0e0e0;
	--shadow-panel: 0 2px 4px 0 hsla(0, 0%, 0%, 0.15);
}

[data-theme="dark"] {
	/* General */
	--color-vert-pink: hsl(302, 100%, 76%);
	--color-vert-pink-alt: hsl(302, 100%, 50%);
	--color-vert-red: hsl(348, 100%, 80%);
	--color-vert-red-alt: hsl(348, 100%, 50%);
	--color-vert-purple: hsl(264, 100%, 81%);
	--color-vert-purple-alt: hsl(264, 100%, 50%);
	--color-vert-blue: hsl(220, 100%, 78%);
	--color-vert-blue-alt: hsl(220, 100%, 50%);
	--color-vert-green: hsl(140, 70%, 74%);
	--color-vert-green-alt: hsl(140, 64%, 42%);

	/*  backgrounds */
	--bg: hsla(220, 5%, 15%, 40%);

	--bg-gradient: linear-gradient(
		to bottom,
		hsla(303, 100%, 50%, 0.1),
		hsla(303, 100%, 50%, 0) 100%
	);
	--bg-gradient-pink: linear-gradient(
		to bottom,
		hsla(303, 100%, 50%, 0.1),
		hsla(303, 100%, 50%, 0) 25%
	);
	--bg-gradient-pink-alt: linear-gradient(
		to top,
		var(--color-vert-pink),
		hsl(303, 100%, 91%) 100%
	);
	--bg-gradient-red: linear-gradient(
		to bottom,
		hsla(348, 100%, 50%, 0.1),
		hsla(348, 100%, 50%, 0) 25%
	);
	--bg-gradient-red-alt: linear-gradient(
		to top,
		var(--color-vert-red),
		hsl(348, 100%, 91%) 100%
	);
	--bg-gradient-purple: linear-gradient(
		to bottom,
		hsla(264, 100%, 50%, 0.1),
		hsla(264, 100%, 50%, 0) 25%
	);
	--bg-gradient-purple-alt: linear-gradient(
		to top,
		var(--color-vert-purple),
		hsl(264, 100%, 91%) 100%
	);
	--bg-gradient-blue: linear-gradient(
		to bottom,
		hsla(220, 100%, 50%, 0.1),
		hsla(220, 100%, 50%, 0) 25%
	);
	--bg-gradient-blue-alt: linear-gradient(
		to top,
		var(--color-vert-blue),
		hsl(220, 100%, 91%) 100%
	);
	--bg-gradient-image: linear-gradient(
		to bottom,
		hsla(220, 5%, 12%, 0.5),
		hsla(220, 5%, 12%, 1) 100%
	);
	--bg-panel: hsl(220, 4%, 24%);
	--bg-panel-highlight: hsl(220, 2%, 32%);
	--bg-separator: hsl(220, 4%, 28%);
	--bg-button: hsl(220, 6%, 34%);
	--bg-badge: var(--color-vert-pink);

	--shadow-panel: 0 4px 6px 0 hsla(0, 0%, 0%, 0.15);
}

@utility font-display {
	font-family: var(--font-display);
}
@utility font-body {
	font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-display font-semibold;
}

.btn {
	@apply cursor-default;

	&:active {
		@apply translate-none scale-95;
		transition:
			opacity 0.2s ease,
			transform 5s ease,
			background-color 0.2s ease;
	}

	@media (hover: hover) {
		&:hover {
			--btn-bg: var(--btn-color, var(--color-base-200));
		}
	}
}

.btn.btn-transparent {
	@apply hover:bg-neutral-50/10;
	--btn-border: #0000;
}

.select {
	@apply outline-none border-transparent;
}